.my-divergence-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.capsule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.08);
}

.capsule-image {
  width: 100%;
  height: auto;
}


.capsule-title {
  margin: 1rem 0;
}

.capsule-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.capsule-button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.selected-capsule-custom {
  position: absolute;
  width: 565px;
  height: 699px;
  border-radius: 16px;
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 100%;
}

.selected-capsule-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.selected-capsule-buttons {
  gap: 2rem;
}


.put-on-sale-button {
  background-color: #00FFAE;
}

.put-on-sale-button:hover {
  background-color: #009dff;
}