.capsule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 248px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.08);
}

.capsule-image {
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px; 
}

.capsule-buttons {
  display: flex;
  background-color: #ffffff40;
  width: 100%;
  padding: 18px 6px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.capsule-button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}

.selected-capsule-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 565px;
  height: 699px;
  border-radius: 16px;
  transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 100%;
}

.bg-capsule-blue {
  background: linear-gradient(157.5deg, #082597 4.65%, #000000 97.99%);
}

.bg-capsule-silver {
  background: linear-gradient(157.5deg, #838383 4.65%, #000000 97.99%);
}

.bg-capsule-gold {
  background: linear-gradient(157.5deg, #AD7000  4.65%, #000000 97.99%);
}

.empty-card {
  box-sizing: border-box;
  width: 255px;
  height: 481px;
  background: rgba(255, 255, 255, 0.43);
  mix-blend-mode: soft-light;
  opacity: 0.54;
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 21px #FFFFFF, inset 0px 0px 35px #FFFFFF;
  filter: blur(1px);
  border-radius: 24px;
}